@import url('https://fonts.googleapis.com/css?family=PT+Sans|Palanquin+Dark');
.container {
  .header {
    font-size: 48px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
  }

  .image {
    width: 720px;
    margin: 0 auto;
    padding: 3px;

    @media screen and (max-width: 760px) {
      width: 80%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .roster {
    @media screen and (max-width: 983px) {
      display: inline-block;
    }

    @media screen and (max-width: 800px) {
      display: block;
    }
  }
}
